html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -160px;
}
* html #wrapper {
  height: 100%;
}
.page-buffer {
  height: 163px;
}
.article {
  position: relative;
  z-index: 2;
  font-family: Helvetica, Arial, sans-serif;
}
.article .container_12 {
  background: rgba(255, 255, 255, 0.8);
}
.article li {
  margin-left: 20px;
}
.article a {
  font-family: Helvetica, Arial, sans-serif;
  color: #007ac2;
}
.article__title {
  text-align: center;
}
.article-list-item {
  margin-bottom: 30px;
}
.article-list-item__created {
  margin: 0 0 0.3em 0;
  font-size: 0.7em;
  color: #828282;
}
.article-list-item__title {
  margin-bottom: 10px;
}
.article-list-item__link {
  font-size: 24px;
  border-color: rgba(0, 122, 194, 0.298039);
  border-bottom: 1px solid;
  cursor: auto;
  display: inline;
  text-decoration: none;
}
.article-list-item__description {
  line-height: 1.5em;
  margin-bottom: 10px;
}
.article-list-item__description__link {
  padding-bottom: 20px;
}
.article-menu {
  padding-top: 20px;
  text-decoration: underline;
}
.article-menu-list {
  list-style: none;
}
.article-menu-list-item {
  padding: 5px 0;
}
