.flex {
  &-direction {
    &-nav {
      list-style: none;
    }
  }
  &-nav {
    &-prev, &-next {
      position: absolute;
      top: 45%;
    }
    &-prev {
      left: -100px;
    }
    &-next {
      right: -100px;
    }
  }
  &-prev, &-next {
    display: block;
    height: 40px;
    width: 40px;
    //text-indent: -99999px;
    -webkit-transition: opacity .2s, color .2s;
    transition: opacity .2s, color .2s;
    &:hover {
      opacity: 0.6;
    }
  }
  &-prev {
    background: url('../img/prev.png') 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  &-next {
    background: url('../img/next.png') 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
}