.flex-direction-nav {
  list-style: none;
}
.flex-nav-prev,
.flex-nav-next {
  position: absolute;
  top: 45%;
}
.flex-nav-prev {
  left: -100px;
}
.flex-nav-next {
  right: -100px;
}
.flex-prev,
.flex-next {
  display: block;
  height: 40px;
  width: 40px;
  -webkit-transition: opacity .2s, color .2s;
  transition: opacity .2s, color .2s;
}
.flex-prev:hover,
.flex-next:hover {
  opacity: 0.6;
}
.flex-prev {
  background: url('../img/prev.png') 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.flex-next {
  background: url('../img/next.png') 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
