.hidden {
  opacity:0;
}
.visible {
  opacity:1;
}
.title {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  line-height: 110px;
  margin: 0;
  text-shadow: 2px 2px 0 #f1f1f1;
  &_small {
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
  }
}
.text {
  &-center {
    text-align: center;
  }
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.modal {
  &-close {
    width: 20px;
    height: 20px;
    //background: red;
    position: absolute ;
    top: 0;
    right: 5px;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    color: #f1f1f1;
    text-shadow: 0 0 2px #000;
    z-index: 9999;
    &:hover {
      color: #fff9d6;
      cursor: pointer;
    }
  }
}
#pop {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -226px;
  margin-left: -155px;
  //margin: 0 auto;
  width: 310px;
  text-align: center;
  background: #666;
  padding: 20px;
  z-index: 999;
  &__title {
    font-size: 24px;
    color: #fff9d6;
  }
}
label {
  float: left;
  margin-left: 68px;
  margin-bottom: 10px;
  color: #fff;
  &.error {
    color: rgb(255, 137, 137);
  }
}
select {
  padding-left: 50px;
}
input[type=text] {
  text-indent: 50px;
}
input[type=text], select {
  border: 0;
  background: #858787;
  width: 300px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 0 #545657;
  -moz-box-shadow: 5px 5px 0 #545657;
  box-shadow: 5px 5px 0 #545657;
  &::-webkit-input-placeholder {
    color:#fff;
  }
  &::-moz-placeholder {
    color:#fff;
  }/* Firefox 19+ */
  &:-moz-placeholder {
    color:#fff;
  }/* Firefox 18- */
  &:-ms-input-placeholder {
    color:#fff;
  }
}
.button {
  color: #fff;
  font-size: 18px;
  border: 0;
  background: #4bcaff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 0 #277697;
  -moz-box-shadow: 0 5px 0 #277697;
  box-shadow: 0 5px 0 #277697;
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 25px;
  &:hover {
    opacity: 0.6;
  }
}

.header {
  background: url('../img/header__bg.jpg') 50% 0 no-repeat;
  background-size: cover;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  &-row {
    &-1 {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &-logotype {
    display: block;
    padding-top: 20px;
    &:hover {
      opacity: 0.6;
    }
  }
  &-phone {
    display: block;
    -ms-text-align-last: right;
    text-align-last: right;
    font-weight: bold;
    text-transform: uppercase;
    &__number {
      font-size: 36px;
      text-shadow: 1px 1px 0 #000;
      font-weight: bold;
      line-height: 62px;
      text-align: center;
      color: #F80000;
      font-family: Arial, Helvetica, sans-serif;
    }
    &__text {
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
  }
  &-slider {
    &__title {
      text-align: center;
      color: #fff;
      font-size: 24px;
      padding: 18px 0;
    }
  }
  &-ticket {
    &__title {
      color: #fff;
      font-size: 24px;
      text-align: center;
      margin: 0;
      padding-top: 20px;
      &_small {
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 15px;
      }
      .strong {
        color: #fff66d;
      }
    }
    &-block {
      background: rgba(97, 108, 115, 0.6);
      padding: 20px;
      text-align: center;
      color: #fff;
      &__title {
        color: #fff9d6;
        font-size: 24px;
        padding-bottom: 35px;
      }
      &__text {
        font-size: 18px;
      }
    }
  }
}

.footer {
  background: #414042;
  color: #fff;
  &-logotype {
    margin: 50px 0;
    display: block;
    &:hover {
      opacity: 0.6;
    }
  }
  &__heading {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &-address {
    font-size: 14px;
    list-style: none;
    li {
      line-height: 30px;
    }
    a {
      color: #f1f1f1;
      text-decoration: none;
      &:hover {
        color: #eee
      }
    }
  }
  &-nav {
    list-style: none;
    &__title {
      margin-top: 46px;
    }
    &-item {
      line-height: 30px;
      &__link {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #eee
        }
      }
    }
  }
  &-ticket {
    text-align: center;
    &__title {
      font-size: 24px;
      color: #fff9d6;
      padding: 24px 0;
    }
  }
}

.icon {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 115px;
  min-height: 130px;
  padding-left: 200px;
  span {
    display: block;
    strong {
      font-weight: normal;
      color: rgb(255, 84, 84);
      }
  }
  &-money {
    background-image: url("../img/icon-money.png");
    span {
      padding-top: 27px;
      background-position: 4px 50%;
    }
  }
  &-design {
    background-image: url("../img/icon-design.png");
    span {
      padding-top: 27px;
    }
  }
  &-profy {
    background-image: url("../img/icon-profy.png");
    span {
      padding-top: 27px;
    }
  }
  &-const {
    background-image: url("../img/icon-const.png");
    span {
      padding-top: 45px;
    }
  }
  &-manager {
    background-image: url("../img/icon-manager.png");
    background-size: 80px;
    background-position: 19px 50%;
    span {
      padding-top: 27px;
    }
  }
}
.work {
  &-icon {
    padding-top: 175px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 250px;
    &__man {
      background-image: url('../img/work__man.png');
    }
    &__woman {
      background-image: url('../img/work__woman.png');
      background-size: 130px;
    }
    &__designer {
      background-image: url('../img/work__designer.png');
    }
    &__contract {
      background-image: url('../img/work__contract.png');
    }
    &__finish{
      background-image: url('../img/work__finish.png');
    }
  }
}


#scrollup {
  position: fixed;
  opacity: 0.8;
  padding: 15px 10px 10px;
  background: #aaa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  top: 10px;
  left: 10px;
  display: none;
  cursor: pointer;
}