.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  line-height: 2em;
  margin: 0;
  text-shadow: 2px 2px 0 #f1f1f1;
}
.title_small {
  font-size: 20px;
  text-align: center;
  margin-top: -20px;
  font-weight: bold;
  text-shadow: 0 0 5px #fff;
}
.text-center {
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  /*dim the background*/
}
.modal-close {
  width: 20px;
  height: 20px;
  position: absolute ;
  top: 0;
  right: 5px;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  color: #f1f1f1;
  text-shadow: 0 0 2px #000;
  z-index: 9999;
}
.modal-close:hover {
  color: #fff9d6;
  cursor: pointer;
}
#pop {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -210px;
  margin-left: -320px;
  width: 600px;
  text-align: center;
  background: #666;
  padding: 20px;
  z-index: 999;
}
#pop__title {
  font-size: 24px;
  color: #fff9d6;
}
label {
  margin-left: 50px;
  margin-bottom: 10px;
  color: #fff;
  display: block;
  text-align: left;
}
label.error {
  display: none;
}
select {
  padding-left: 50px;
}
input[type=text] {
  text-indent: 50px;
}
input[type=text],
select {
  height: 40px;
}
textarea {
  text-indent: 10px;
  height: 190px;
  position: absolute;
  top: 95px;
  right: 20px;
}
input[type=text],
select,
textarea {
  border: 0;
  display: block;
  background: #858787;
  width: 290px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 0 #545657;
  -moz-box-shadow: 5px 5px 0 #545657;
  box-shadow: 5px 5px 0 #545657;
  /* Firefox 19+ */
  /* Firefox 18- */
}
input[type=text]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
}
input[type=text]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #fff;
}
input[type=text]:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: #fff;
}
input[type=text]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff;
}
input[type=text].error,
select.error,
textarea.error {
  background: #aaa0a0;
}
.button {
  color: #fff;
  font-size: 18px;
  border: 0;
  background: #4bcaff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 0 #277697;
  -moz-box-shadow: 0 5px 0 #277697;
  box-shadow: 0 5px 0 #277697;
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 25px;
}
.button:hover {
  opacity: 0.6;
}
.header {
  background: url('../img/header__bg.jpg') 50% 0 no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header-row-1 {
  background: rgba(0, 0, 0, 0.2);
}
.header-logotype {
  display: block;
  padding-top: 20px;
}
.header-logotype:hover {
  opacity: 0.6;
}
.header-phone {
  display: block;
  -ms-text-align-last: right;
  text-align-last: right;
  font-weight: bold;
  text-transform: uppercase;
}
.header-phone__number {
  font-size: 36px;
  text-shadow: 1px 1px 0 #000;
  font-weight: bold;
  text-align: center;
  color: #F80000;
  font-family: Arial, Helvetica, sans-serif;
}
.header-phone__text {
  font-weight: normal;
  text-transform: none;
}
.header-phone__text,
.header-phone__title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
.header-slider__title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 18px 0;
}
.header-advantage {
  margin: 20px 0;
  background: rgba(97, 108, 115, 0.6);
  padding: 0 10px 20px 10px;
  text-align: center;
  color: #fff;
}
.header-advantage__title {
  color: #fff9d6;
  font-size: 24px;
  text-align: center;
}
.header-advantage-list {
  margin-left: 42px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: left;
  list-style-image: url('../img/list-style-image.png');
}
.header-advantage-list-item {
  padding-bottom: 10px;
}
.header-advantage-list-item span {
  color: #fff9d6;
  text-shadow: 1px 1px 0 #ffaaaa;
  font-size: 18px;
}
.header-advantage-list-item a {
  color: #fff;
}
.footer {
  background: #414042;
  color: #fff;
}
.footer-logotype {
  margin: 50px 0;
  display: block;
}
.footer-logotype:hover {
  opacity: 0.6;
}
.footer__heading {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}
.footer-address {
  font-size: 14px;
  list-style: none;
}
.footer-address li {
  line-height: 30px;
}
.footer-address a {
  color: #f1f1f1;
  text-decoration: none;
}
.footer-address a:hover {
  color: #eee;
}
.footer-nav {
  list-style: none;
}
.footer-nav__title {
  margin-top: 46px;
}
.footer-nav-item {
  line-height: 30px;
}
.footer-nav-item__link {
  color: #fff;
  text-decoration: none;
}
.footer-nav-item__link:hover {
  color: #eee;
}
.footer-ticket {
  text-align: center;
}
.footer-ticket__title {
  font-size: 24px;
  color: #fff9d6;
  padding: 24px 0;
}
.icon {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 115px;
  min-height: 130px;
  padding-left: 200px;
}
.icon span {
  display: block;
}
.icon span strong {
  font-weight: normal;
  color: #ff5454;
}
.icon-money {
  background-image: url("../img/icon-money.png");
}
.icon-money span {
  padding-top: 27px;
  background-position: 4px 50%;
}
.icon-design {
  background-image: url("../img/icon-design.png");
}
.icon-design span {
  padding-top: 27px;
}
.icon-profy {
  background-image: url("../img/icon-profy.png");
}
.icon-profy span {
  padding-top: 27px;
}
.icon-const {
  background-image: url("../img/icon-const.png");
}
.icon-const span {
  padding-top: 45px;
}
.icon-manager {
  background-image: url("../img/icon-manager.png");
  background-size: 80px;
  background-position: 19px 50%;
}
.icon-manager span {
  padding-top: 27px;
}
.work-icon {
  padding-top: 175px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 250px;
}
.work-icon__man {
  background-image: url('../img/work__man.png');
}
.work-icon__woman {
  background-image: url('../img/work__woman.png');
  background-size: 130px;
}
.work-icon__designer {
  background-image: url('../img/work__designer.png');
}
.work-icon__contract {
  background-image: url('../img/work__contract.png');
}
.work-icon__finish {
  background-image: url('../img/work__finish.png');
}
#scrollup {
  position: fixed;
  opacity: 0.8;
  padding: 15px 10px 10px;
  background: #aaa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  top: 10px;
  left: 10px;
  display: none;
  cursor: pointer;
}
