html,
body {
  min-height: 100%;
  height: auto;
}
.hidden {
  opacity: 0;
}
.hide {
  display: none !important;
}
.visible {
  opacity: 1;
}
.title {
  font-size: 36px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  line-height: 2em;
  margin: 50px 0;
  text-shadow: 2px 2px 0 #f1f1f1;
}
.title_white {
  color: #fff;
  text-shadow: 2px 2px 0 #333;
}
.title_small {
  font-size: 20px;
  text-align: center;
  margin-top: -20px;
  font-weight: bold;
  text-shadow: 0 0 5px #fff;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
#modal-ticket-form {
  display: none;
}
#modal-ticket-form p {
  font-size: 24px;
  color: #f1f1f1;
}
.icon {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 115px;
  min-height: 130px;
  padding-left: 200px;
}
.icon span {
  display: block;
}
.icon span strong {
  font-weight: normal;
  color: #ff5454;
}
.icon-money {
  background-image: url("../img/icon-money.png");
}
.icon-money span {
  padding-top: 27px;
  background-position: 4px 50%;
}
.icon-design {
  background-image: url("../img/icon-design.png");
}
.icon-design span {
  padding-top: 27px;
}
.icon-profy {
  background-image: url("../img/icon-profy.png");
}
.icon-profy span {
  padding-top: 27px;
}
.icon-const {
  background-image: url("../img/icon-const.png");
}
.icon-const span {
  padding-top: 45px;
}
.icon-manager {
  background-image: url("../img/icon-manager.png");
  background-size: 80px;
  background-position: 19px 50%;
}
.icon-manager span {
  padding-top: 27px;
}
.work-icon {
  padding-top: 175px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 250px;
}
.work-icon__man {
  background-image: url('../img/work__man.png');
}
.work-icon__woman {
  background-image: url('../img/work__woman.png');
  background-size: 130px;
}
.work-icon__designer {
  background-image: url('../img/work__designer.png');
}
.work-icon__contract {
  background-image: url('../img/work__contract.png');
}
.work-icon__finish {
  background-image: url('../img/work__finish.png');
}
#scrollup {
  position: fixed;
  opacity: 0.8;
  padding: 15px 10px 10px;
  background: #aaa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  top: 10px;
  left: 10px;
  display: none;
  cursor: pointer;
  z-index: 99;
}
#area-desc {
  margin-top: 20px;
  margin-bottom: 20px;
}
#area-desc p {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 12px;
  line-height: 16px;
}
.circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-width: 5px;
  border-style: solid;
  border-radius: 24px;
  vertical-align: middle;
  box-sizing: border-box;
}
