.nav {
  text-align: center;
}
.nav-list {
  list-style-type: none;
  text-align: right;
}
.nav-list-item {
  display: inline-block;
  padding-left: 20px;
}
.nav-list-item:first-child {
  padding-left: 0;
}
.nav-list-item__link {
  display: block;
  line-height: 83px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-list-item__link:hover,
.nav-list-item__link_active {
  text-shadow: 0 0 6px #4bcaff;
}
