.section-video {
  text-align: center;
}
.section-video .button {
  margin: 18px 0;
}
.section-video__container iframe {
  width: 225px;
  height: 150px;
  margin-bottom: 20px;
  background: #333;
  box-shadow: 0 0 10px #999;
}
.section-video__name {
  margin: 0;
  height: 60px;
}
.section-video-ticket {
  background-color: #4e4e4e;
  -webkit-box-shadow: 0 0 2px #f1efde;
  -moz-box-shadow: 0 0 2px #f1efde;
  box-shadow: 0 0 2px #f1efde;
  margin: 40px 0;
}
.section-video-ticket:hover {
  -webkit-box-shadow: 0 0 15px #f1efde;
  -moz-box-shadow: 0 0 15px #f1efde;
  box-shadow: 0 0 15px #f1efde;
}
.section-video-ticket-button {
  margin-bottom: 0;
}
.section-video-ticket__title {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 36px;
}
.section-advantage {
  background-size: cover;
  background: #34495e url('../img/section-advantage__bg.jpg') no-repeat fixed 50% 0;
}
.section-advantage-list {
  list-style: none;
  text-align: center;
}
.section-advantage-list-item {
  font-size: 16px;
  color: #333;
  display: inline-block;
  width: 320px;
  height: 380px;
  vertical-align: top;
  background: #fff;
  margin: 20px 10px;
  -webkit-box-shadow: 3px 3px 10px #333;
  -moz-box-shadow: 3px 3px 10px #333;
  box-shadow: 3px 3px 10px #333;
}
.section-advantage-list-item__icon {
  vertical-align: top;
  text-align: center;
  width: 300px;
  height: 200px;
  line-height: 200px;
  margin: 10px auto;
}
.section-advantage-list-item__icon img {
  vertical-align: middle;
}
.section-advantage-list-item span {
  display: block;
  padding: 0 10px;
}
.section-advantage-list-item span strong,
.section-advantage-list-item span a {
  font-size: 18px;
  line-height: 3em;
  font-weight: normal;
  color: #0099CC;
  text-transform: none;
  text-decoration: none;
}
.section-advantage-button {
  margin: 50px 0;
  display: inline-block;
}
.section-address__title {
  font-size: 36px;
}
.section-address-container-item {
  margin-bottom: 20px;
}
.section-address-container-item-link {
  position: relative;
  height: 189px;
  border-radius: 6px;
  display: block;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  cursor: pointer;
}
.section-address-container-item-link-back {
  display: none;
  background-color: rgba(75, 202, 255, 0.69);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 3px #333;
  vertical-align: middle;
  text-align: center;
  padding-top: 60px;
}
.section-address-container-item-link:hover {
  -webkit-box-shadow: 0 0 5px #fff;
  -moz-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
}
.section-address-container-item-link__image {
  width: 100%;
  height: 100%;
}
.section-address-container-item-link__title {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  background: rgba(51, 51, 51, 0.82);
  font-size: 15px;
  color: #4bcaff;
}
.section-address-ticket {
  padding: 20px 0;
  background-color: #4e4e4e;
  -webkit-box-shadow: 0 0 2px #f1efde;
  -moz-box-shadow: 0 0 2px #f1efde;
  box-shadow: 0 0 2px #f1efde;
  margin: 40px 0;
}
.section-address-ticket:hover {
  -webkit-box-shadow: 0 0 15px #f1efde;
  -moz-box-shadow: 0 0 15px #f1efde;
  box-shadow: 0 0 15px #f1efde;
}
.section-address-ticket .button {
  margin-top: 10px;
}
.section-address-ticket__title {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
}
.section-review {
  background-size: cover;
  background: #34495e url('../img/section-review__bg.jpg') no-repeat fixed 50% 0;
}
.section-review-slider {
  margin: 0 auto 40px;
  width: 750px;
  position: relative;
}
.section-review-slider__item {
  text-align: center;
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.section-review-text {
  margin-bottom: 50px;
}
.section-review-text-list {
  list-style: none;
}
.section-review-text-list__item {
  width: 725px;
  margin-bottom: 20px;
}
.section-review-text-list__item:nth-child(even) {
  float: right;
}
.section-review-text__avatar {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin-right: 40px;
}
.section-review-text__content {
  font-size: 14px;
  display: inline-block;
  float: right;
  width: 600px;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 0 #333;
}
.section-review-text__desc {
  display: inline-block;
  float: right;
  color: #0099CC;
  text-shadow: 1px 1px 0 #000;
  margin-top: 0;
}
.section-review-text__desc .small {
  font-size: 12px;
  font-style: italic;
}
.section-work {
  background: #fff;
}
.section-work-list {
  margin-top: 20px;
  text-align: center;
}
.section-work-list-item {
  text-align: center;
  width: 32%;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
}
.section-work-list-item__image {
  height: 200px;
}
.section-work-list-item__image img {
  max-height: 100%;
}
.section-work-list-item__title {
  height: 80px;
}
.section-work-list-item__text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-decoration: none;
  width: 80%;
  margin: 10px auto;
}
.section-ticket {
  background-color: #34495e;
  background-size: cover;
  background: #34495e url('../img/section-ticket__bg.jpg') no-repeat fixed 50% 0;
  padding-bottom: 50px;
}
.section-ticket__text {
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 2px 0 #333;
}
