@tablet: ~"(min-width: 768px)";
@tablet-area: 750px;

// Mode: Desktop
@desktop: ~"(min-width: 1024px)";
@desktop-area: 970px;

.section {

  &-video {
    //background: url('../img/section-video__bg.jpg') 50% 0 no-repeat;
    //background-size: cover;
    text-align: center;
    .button {
      margin: 18px 0;
    }
    &__container {
      iframe {
        width: 225px;
        height: 150px;
        margin-bottom: 20px;
        background: #333;
        box-shadow: 0 0 10px #999;
      }
    }
    &__name {
      margin: 0;
      //text-align: left;
      height: 60px;
    }
    &-ticket {
      //padding: 20px 0;
      background-color: #4e4e4e;
      -webkit-box-shadow: 0 0 2px #f1efde;
      -moz-box-shadow: 0 0 2px #f1efde;
      box-shadow: 0 0 2px #f1efde;
      margin: 40px 0;
      &:hover {
        -webkit-box-shadow: 0 0 15px #f1efde;
        -moz-box-shadow: 0 0 15px #f1efde;
        box-shadow: 0 0 15px #f1efde;
      }
      &-button {
        margin-bottom: 0;
      }
      &__title {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        margin: 0;
        padding-top: 36px;
      }
    }
  }

  &-advantage {
    background-size: cover;
    background: #34495e url('../img/section-advantage__bg.jpg') no-repeat fixed 50% 0;
    ///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    //background: rgb(238,238,238); /* Old browsers */
    ///* IE9 SVG, needs conditional override of 'filter' to 'none' */
    //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    //background: -moz-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    //background: -webkit-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 12+ */
    //background: -ms-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    //background: radial-gradient(ellipse at center, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    &-container {
      //background: url("../img/man.png") 95% 50% no-repeat;
      //background-size: contain;
    }
    &-list {
      list-style: none;
      text-align: center;
      &-item {
        font-size: 16px;
        //text-shadow: 0.1px 0.1px 0.1px #000;
        color: #333;
        display: inline-block;
        width: 320px;
        height: 380px;
        vertical-align: top;
        background: #fff;
        margin: 20px 10px;
        -webkit-box-shadow: 3px 3px 10px #333;
        -moz-box-shadow: 3px 3px 10px #333;
        box-shadow: 3px 3px 10px #333;
        &__icon {
          vertical-align: top;
          text-align: center;
          width: 300px;
          height: 200px;
          line-height: 200px;
          margin: 10px auto;
          img {
            //height: 100px;
            vertical-align: middle;
          }
        }
        span {
          //padding-top: 10px;
          display: block;
          padding: 0 10px;
          strong, a {
            font-size: 18px;
            line-height: 3em;
            font-weight: normal;
            color: #0099CC;
            text-transform: none;
            text-decoration: none;
          }
        }
      }
    }
    &-button {
      //padding: 24px 50px;
      margin: 50px 0;
      display: inline-block;
    }
  }

  &-address {
    //background: url('../img/section-advantage__bg.jpg') 50% 0 no-repeat;
    //background-size: cover;
    //background-color: #34495e;
    &__title {
      font-size: 36px;
    }
    &-container {
      &-item {
        margin-bottom: 20px;
        &-link {
          position: relative;
          height: 189px;
          border-radius: 6px;
          display: block;
          overflow: hidden;
          -webkit-box-shadow: 0 0 5px #000;
          -moz-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
          cursor: pointer;
          &-back {
            display: none;
            background-color: rgba(75, 202, 255, 0.69);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 36px;
            font-weight: bold;
            color: #fff;
            text-shadow: 2px 2px 3px #333;
            vertical-align: middle;
            text-align: center;
            padding-top: 60px;
          }
          &:hover {
            -webkit-box-shadow: 0 0 5px #fff;
            -moz-box-shadow: 0 0 5px #fff;
            box-shadow: 0 0 5px #fff;
          }
          &__image {
            width: 100%;
            height: 100%;
          }
          &__title {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 40px;
            background: rgba(51, 51, 51, 0.82);
            font-size: 15px;
            color: #4bcaff;
          }
        }
      }
    }
    &-ticket {
      padding: 20px 0;
      background-color: #4e4e4e;
      -webkit-box-shadow: 0 0 2px #f1efde;
      -moz-box-shadow: 0 0 2px #f1efde;
      box-shadow: 0 0 2px #f1efde;
      margin: 40px 0;
      &:hover {
        -webkit-box-shadow: 0 0 15px #f1efde;
        -moz-box-shadow: 0 0 15px #f1efde;
        box-shadow: 0 0 15px #f1efde;
      }
      .button {
        margin-top: 10px;
      }
      &__title {
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;
        padding-top: 8px;
      }
    }
  }
  &-review {
    background-size: cover;
    background: #34495e url('../img/section-review__bg.jpg') no-repeat fixed 50% 0;
    &-slider {
      margin: 0 auto 40px;
      width: 750px;

      position: relative;
      &__item {
        text-align: center;
        display: block;
        width: 90%;
        margin: 0 auto;
        height: 100%;
        //margin-bottom: 20px;
      }
    }
    &-text {
      margin-bottom: 50px;
      &-list {
        list-style: none;
        &__item {
          width: 725px;
          margin-bottom: 20px;
          &:nth-child(even){
            float: right;
          }
        }
      }
      &__avatar {
        display: inline-block;
        height: 80px;
        width: 80px;
        margin-right: 40px;
      }
      &__content {
        font-size: 14px;
        display: inline-block;
        float: right;
        width: 600px;
        margin: 0;
        color: #fff;
        text-shadow: 1px 1px 0 #333;
      }
      &__desc {
        display: inline-block;
        float: right;
        color: #0099CC;
        text-shadow: 1px 1px 0 #000;
        margin-top: 0;
        .small {
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
  &-work {
    background: #fff;
    &-list {
      margin-top: 20px;
      text-align: center;
      &-item {
        text-align: center;
        width: 32%;
        margin: 0 5px;
        display: inline-block;
        vertical-align: top;
        &__image {
          height: 200px;
          img {
            max-height: 100%;
          }
        }
        &__title {
          height: 80px;
        }
        &__text {
          font-size: 18px;
          font-weight: bold;
          color: #333;
          text-align: center;
          text-decoration: none;
          width: 80%;
          margin: 10px auto;
        }
      }
    }
  }
  &-ticket {
    background-color: #34495e;
    background-size: cover;
    background: #34495e url('../img/section-ticket__bg.jpg') no-repeat fixed 50% 0;
    padding-bottom: 50px;
    &__text {
      color: #fff;
      font-size: 24px;
      text-shadow: 2px 2px 0 #333;
    }
  }

}