/apps/review/migrations
/apps/video/migrations
/apps/slider/migrations
/apps/city/migrations
.idea/
*.pyc
README.md
/core/migrations
/apps/order/migrations
/apps/article/migrations
/apps/address/migrations
/apps/faq/migrations
db.sqlite3
