{% extends 'page.html' %}
{% block main %}
  <h1 class="article__title">Статьи</h1>
  <div class="article-list">
  {% for article in object_list %}
    <div class="article-list-item">
      <div class="article-list-item__created"><span>{{ article.created }}</span></div>
      <div class="article-list-item__title">
        <a href="{{ article.get_absolute_url }}" class="article-list-item__link">{{ article.title }}</a>
      </div>
      <div class="article-list-item__description">
        {{ article.text|safe|striptags|truncatewords:50 }}<br>
        <a href="{{ article.get_absolute_url }}" class="article-list-item__description__link">Читать полностью >></a>
      </div>
      <hr>
    </div>
  {% endfor %}
  </div>
{% endblock %}
{% block sidebar %}
  <p class="article-menu">Список статей:</p>
  <ul class="article-menu-list">
    {% for article in ARTICLE_MENU %}
    <li class="article-menu-list-item"><a href="{{ article.get_absolute_url }}" class="article-menu__link">{{ article.title|default:'' }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
