{% extends 'page.html' %}
{% block title %}
  {{ object.tite }}
{% endblock %}
{% block meta %}
  <meta name="description" content="{{ object.meta_desc|default:'' }}">
  <meta name="keywords" content="{{ object.meta_key|default:'' }}">
{% endblock %}
{% block main %}
  <h1 class="article__title">{{ object.title }}</h1>
  <div class="article-list-item__description">
    {{ article.text|safe }}<br>
  </div>
  <div class="article-list-item__created"><span>{{ article.created }}</span></div>
  <hr>
{% endblock %}
