<footer class="footer">
  <div class="container_12">
    <div class="grid_3 suffix_2">
      <a href="#top" class="footer-logotype">
        <img src="{{ STATIC_URL }}img/logotype.png" alt="Рекласное агенство Арт-Лифт">
      </a>
      <p class="footer__heading">Контакты:</p>
      <ul class="footer-address">
        <li>г.Волгоград, ул.Мира 99</li>
        <li>8 800 775 18 45</li>
        <li><a href="mailto:test@example.com" class="foter-address__mail">test@example.com</a></li>
      </ul>
    </div>
    <div class="grid_3">
      <p class="footer__heading footer-nav__title">Навигация:</p>
      <ul class="footer-nav">
        <li class="footer-nav-item"><a href="" class="footer-nav-item__link">Примеры работ</a></li>
        <li class="footer-nav-item"><a href="" class="footer-nav-item__link">Видео о нас</a></li>
        <li class="footer-nav-item"><a href="" class="footer-nav-item__link">Наши преимущества</a></li>
        <li class="footer-nav-item"><a href="" class="footer-nav-item__link">Адресная программа</a></li>
        <li class="footer-nav-item"><a href="" class="footer-nav-item__link">Как мы работаем</a></li>
      </ul>
    </div>
    <div class="grid_4">
      <div class="footer-ticket">
        <p class="footer-ticket__title">Оставьте заявку</p>
        {% include '__includes/ticket_form.html' %}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</footer>