<footer class="footer">
  <div class="container_12">
    <div class="grid_9">
      <ul class="footer-nav">
        <li class="footer-nav-item"><a href="#top" class="footer-nav-item__link">О нас</a></li>
        <li class="footer-nav-item"><a href="#video" class="footer-nav-item__link">Видео</a></li>
        <li class="footer-nav-item"><a href="#advantage" class="footer-nav-item__link">Почему мы</a></li>
        <li class="footer-nav-item"><a href="#address" class="footer-nav-item__link">Адреса</a></li>
        <li class="footer-nav-item"><a href="#review" class="footer-nav-item__link">Отзывы</a></li>
        <li class="footer-nav-item"><a href="#city-map" class="footer-nav-item__link">География</a></li>
        <li class="footer-nav-item"><a href="#work" class="footer-nav-item__link">Как Заказать</a></li>
        <li class="footer-nav-item"><a href="{% url 'article-list' %}" class="footer-nav-item__link">Статьи</a></li>
        <li class="footer-nav-item"><a href="{% url 'faq-list' %}" class="footer-nav-item__link">Вопросы и ответы</a></li>
      </ul>
      <p class="copyright">
        &copy; 2016, {{ current_city.title|default:'РА "Арт-Лифт"' }}
      </p>
    </div>
    <div class="grid_3">
      <address class="footer-address">
        {{ ADDRESS|default:'' }} <br><br>
        email: <a href="mailto:{{ EMAIL|default:'test@example.com' }}" class="section-ticket__mail">{{ EMAIL|default:'test@example.com' }}</a> <br><br>
        телефон: {{ PHONE|default:'0-000-000-000-00' }}
      </address>
    </div>
    <div class="clear"></div>
  </div>
</footer>