<header class="header">
  <a name="top"></a>
  <div class="header-top">
    <div class="container_12">
{#      <div class="grid_12 fixed_menu hide" style="position: fixed">#}
{#        <h1>This is menu!</h1>#}
{#      </div>#}
      <div class="grid_4">
        <div class="header-city-select">
          <div class="header-city-select__text js-select-city">
            <img src="{{ STATIC_URL }}img/location-icon.png" alt="">{{ current_city.name|default:'Город не выбран' }}
          </div>
          <div class="header-city-select__list">
            <ul>
              {% for city in CITY_LIST %}
                <li>
                  <a href="{% url 'city:view' city.slug %}">{{ city.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="grid_8">
        <div class="header-phone text-right">
          <span class="header-phone__title">Звоните по телефону:</span>
          <span class="header-phone__number">{{ PHONE|default:'0-000-000-000-00' }}</span>
{#          <span class="header-phone__text">(звонок бесплатный) </span>#}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="header-menu">
    <div class="container_12">
      <div class="grid_4">
        <a href="{% url 'home' %}" title="" class="header-logotype">
          <img src="{{ STATIC_URL }}img/logotype.png" alt="Логотип">
        </a>
      </div>
      <div class="grid_8">
        <nav class="nav">
          <ul class="nav-list">
          {% block header_menu %}
{#            <li class="nav-list-item">#}
{#              <a href="#video" class="nav-list-item__link nav-list-item__link_active">Видео</a>#}
{#            </li>#}
{#            <li class="nav-list-item">#}
{#              <a href="#advantage" class="nav-list-item__link">Почему мы</a>#}
{#            </li>#}
{#            <li class="nav-list-item">#}
{#              <a href="#address" class="nav-list-item__link">Адреса</a>#}
{#            </li>#}
{#            <li class="nav-list-item">#}
{#              <a href="#review" class="nav-list-item__link">Отзывы</a>#}
{#            </li>#}
{#            <li class="nav-list-item">#}
{#              <a href="#city-map" class="nav-list-item__link">География</a>#}
{#            </li>#}
{#            <li class="nav-list-item">#}
{#              <a href="#work" class="nav-list-item__link">Как заказать</a>#}
{#            </li>#}
{#            <li class="nav-list-item">#}
{#              <a href="{% url 'faq-list' %}" class="nav-list-item__link">Типичные вопросы</a>#}
{#            </li>#}
          {% endblock %}
          </ul>
        </nav>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% block header_content %}
{#  <div class="container_12">#}
{#    <div class="grid_7 suffix_1">#}
{#      <div class="header-video">#}
{#        {{ setup.video|safe|default:'' }}#}
{#      </div>#}
{#    </div>#}
{#    <div class="grid_4">#}
{#      <div class="header-advantage animated zoomIn">#}
{#        <p class="header-advantage__title">Реклама в лифтах домов повышенной комфортности</p>#}
{#        <ul class="header-advantage-list">#}
{#          {% for advantage in advantage_list  %}#}
{#            <li class="header-advantage-list-item animated bounceInRight">#}
{#              <span>{{ advantage.title }}</span>#}
{#              <a href="#advantage">подробней >></a>#}
{#            </li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#      {% if current_city %}#}
{#        <a href="#modal-ticket-form" class="button js-city-ticket-button">Задать вопрос</a>#}
{#      {% else %}#}
{#        <a href="#modal-ticket-form" class="button js-main-ticket-button">Задать вопрос</a>#}
{#      {% endif %}#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="clear"></div>#}
{#  </div>#}
{% endblock %}
</header>

