<form action="{% url 'ticket' %}" method="post" id="ticket_form">{% csrf_token %}
{#  <input type="text" name="name" placeholder="Ваше имя">#}
{#  <input type="text" name="phone" placeholder="Ваш телефон">#}
{#  <select name="area" id="">#}
{#    <option value="0">Выбор района</option>#}
{#    <option value="1">Район 1</option>#}
{#    <option value="2">Район 2</option>#}
{#  </select>#}
  {% load widget_tweaks %}
  {{ form.name|attr:'placeholder:Ваше имя' }}
  {{ form.phone|attr:'placeholder:Ваш телефон или e-mail' }}
  <label for="area">Выберите район</label>
  {{ form.area }}
  {{ form.comment|attr:'placeholder:Текст вопроса' }}
  <input type="submit" value="Отправить" class="button">
</form>