{% extends 'base.html' %}
{% block content %}
  {% include '__includes/header.html' %}
  <section class="section-video"><a name="video"></a>
    <div class="container_12">
      <p class="title">Видео о нас</p>
      <div class="grid_10 suffix_1 prefix_1">
        <button class="button section-address-ticket-button">Задать вопрос</button>
        <div class="section-video-container">
          {{ setup.video|safe|default:'' }}
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <!--[if gte IE 9]>
    <style type="text/css">
      .section-advantage, .section-work {
         filter: none;
      }
    </style>
  <![endif]-->
  <section class="section-advantage"><a name="advantage"></a>
    <div class="container_12">
      <div class="grid_12">
        <p class="title">Наши преимущества</p>
        <p class="title_small">5 причин почему Вам стоит обратиться именно к нам</p>
      </div>
      <div class="clear"></div>
      <div class="section-advantage-container">
        <div class="grid_9 suffix_3">
          <ul class="section-advantage-list">
          {% for advantage in advantage_list %}
            <li class="section-advantage-list-item">
              <div class="section-advantage-list-item__icon"><img src="{{ advantage.image.url }}" alt=""></div>
              <span>
                {% if advantage.link %}
                  <a href="{{ advantage.link }}">{{ advantage.title }}</a>
                {% else %}
                <strong>{{ advantage.title }}</strong>
                {% endif %}
                <br>
                {{ advantage.text|default:'' }}
              </span>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="grid_12 text-center">
        <button class="button section-advantage-button">Уточнить детали</button>
{#        <a href="#pop" class="button section-advantage-button popupbutton">Уточнить детали</a>#}
      </div>
    </div>
  </section>
  <section class="section-address"><a name="address"></a>
    <div class="container_12">
      <div class="grid_12">
        <p class="title section-address__title">Дома в которых мы размещаем Вашу рекламу</p>
      </div>
      <div class="section-address-container">
        {% for address in address_list %}
        <div class="grid_3">
          <div class="section-address-container-item">
            <a class="section-address-container-item-link" data-address="{{ address.id }}" data-url="{% url 'address' %}">
              <div class="section-address-container-item-link-back">+</div>
              <img src="{{ address.image_resize.url }}" alt="{{ address.address }}" class="section-address-container-item-link__image">
              <span class="section-address-container-item-link__title">{{ address.address }}</span>
            </a>
          </div>
        </div>
        {% endfor %}
        <div class="clear"></div>
      </div>
      <div class="section-address-ticket">
        <div class="grid_5 prefix_1 suffix_3">
          <p  class="section-address-ticket__title">Закажите обратный звонок для уточнения деталей прямо сейчас</p>
        </div>
        <div class="grid_3">
          <button class="button section-address-ticket-button">Оставить заявку</button>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <section class="section-work"><a name="work"></a>
    <div class="container_12">
      <div class="grid_12">
        <p class="title">Как заказать</p>
      </div>
      {% if order_list %}
        <div class="section-work-list">
        {% for order in order_list %}
          <div class="section-work-list-item">
            <div class="section-work-list-item__image">
              <img src="{{ order.image.url }}" alt="{{ order.title }}">
            </div>
            <div class="section-work-list-item__title">
            {% if order.link %}
              <a href="{{ order.link }}" class="section-work-list-item__text" title="{{ order.title }}">{{ forloop.counter }}. {{ order.title }}</a>
            {% else %}
              <p class="section-work-list-item__text">{{ forloop.counter }}. {{ order.title }}</p>
            {% endif %}
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
      <div class="section-work-list">
        <div class="section-work-list-item work-icon work-icon__man">
          <p class="section-work-list-item__text">1. От Вас запрос.</p>
        </div>
        <div class="section-work-list-item work-icon work-icon__woman">
          <p class="section-work-list-item__text">2. Мы задаём несколько вопросов.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="section-work-list">
        <div class="section-work-list-item work-icon work-icon__designer">
          <p class="section-work-list-item__text">3. Формируем индивидуальный медиа план.</p>
        </div>
        <div class="section-work-list-item work-icon work-icon__contract">
          <p class="section-work-list-item__text">4.Заключаем договор</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="section-work-list">
        <div class="suffix_3 prefix_3 section-work-list-item work-icon work-icon__finish">
          <p class="section-work-list-item__text">5. Обоюдно выполняем достигнутые договорённости.</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
    </div>
  </section>
  {% include '__includes/footer.html' %}
{% endblock %}