{% extends 'base.html' %}
{% block title %}
  Статьи на тему рекламы в лифтах домов повышенной комфортности
{% endblock %}
{% block body_args %}class='body-page'{% endblock %}
{% block header_menu %}
  <li class="nav-list-item">
    <a href="{% url 'home' %}" class="nav-list-item__link">Главная страница</a>
  </li>
  <li class="nav-list-item">
    <a href="{% url 'article-list' %}" class="nav-list-item__link">Список статей</a>
  </li>
  <li class="nav-list-item">
    <a href="{% url 'faq-list' %}" class="nav-list-item__link">Вопросы и ответы</a>
  </li>
{% endblock %}
{% block content %}
<div id="wrapper">
{#  <header class="header"><a name="top"></a>#}
{#    <div class="header-top">#}
{#      <div class="container_12">#}
{#        <div class="grid_4">#}
{#          <div class="header-city-select">#}
{#            <div class="header-city-select__text js-select-city">#}
{#              <img src="{{ STATIC_URL }}img/location-icon.png" alt="">{{ current_city|default:'Город не выбран' }}#}
{#            </div>#}
{#            <div class="header-city-select__list">#}
{#              <ul>#}
{#                {% for city in CITY_LIST %}#}
{#                  <li>#}
{#                    <a href="{% url 'city:view' city.slug %}">{{ city.name }}</a>#}
{#                  </li>#}
{#                {% endfor %}#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="grid_8">#}
{#          <div class="header-phone text-right">#}
{#            <span class="header-phone__title">Звоните по телефону:</span>#}
{#            <span class="header-phone__number">{{ PHONE|default:'0-000-000-000-00' }}</span>#}
  {#          <span class="header-phone__text">(звонок бесплатный) </span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="clearfix"></div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="header-menu">#}
{#      <div class="container_12">#}
{#        <div class="grid_4">#}
{#          <a href="{% url 'home' %}" title="" class="header-logotype">#}
{#            <img src="{{ STATIC_URL }}img/logotype.png" alt="Логотип">#}
{#          </a>#}
{#        </div>#}
{#        <div class="grid_8">#}
{#          <nav class="nav">#}
{#            <ul class="nav-list">#}
{#              <li class="nav-list-item">#}
{#                <a href="{% url 'home' %}" class="nav-list-item__link">Главная страница</a>#}
{#              </li>#}
{#              <li class="nav-list-item">#}
{#                <a href="{% url 'article-list' %}" class="nav-list-item__link">Список статей</a>#}
{#              </li>#}
{#              <li class="nav-list-item">#}
{#                <a href="{% url 'faq-list' %}" class="nav-list-item__link">Вопросы и ответы</a>#}
{#              </li>#}
{#            </ul>#}
{#          </nav>#}
{#        </div>#}
{#        <div class="clear"></div>#}
{#      </div>#}
{#    </div>#}
{#  </header>#}
  <main class="article">
    <div class="container_12">
      <div class="grid_9">
      {% block main %}
      {% endblock %}
      </div>
      <div class="grid_3">
      {% block sidebar %}
      {% endblock %}
      </div>
      <div class="clear"></div>
    </div>
  </main>
  <div class="page-buffer"></div>
</div>
{% include '__includes/footer.html' %}
{% endblock %}