{% extends 'base.html' %}
{% block title %}
  Статьи на тему рекламы в лифтах домов повышенной комфортности
{% endblock %}
{% block content %}
<div id="wrapper">
  <header class="header"><a name="top"></a>
    <div class="header-top">
      <div class="container_12">
        <div class="grid_4">
          <div class="header-city-select">
            <div class="header-city-select__text js-select-city">
              <img src="{{ STATIC_URL }}img/location-icon.png" alt="">{{ current_city|default:'Город не выбран' }}
            </div>
            <div class="header-city-select__list">
              <ul>
                {% for city in CITY_LIST %}
                  <li>
                    <a href="{% url 'city' city.slug %}">{{ city.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="grid_8">
          <div class="header-phone text-right">
            <span class="header-phone__title">Звоните по телефону:</span>
            <span class="header-phone__number">{{ contacts.phone }}</span>
  {#          <span class="header-phone__text">(звонок бесплатный) </span>#}
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="header-menu">
      <div class="container_12">
        <div class="grid_4">
          <a href="{% url 'home' %}" title="" class="header-logotype">
            <img src="{{ STATIC_URL }}img/logotype.png" alt="Логотип">
          </a>
        </div>
        <div class="grid_8">
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-list-item">
                <a href="{% url 'home' %}" class="nav-list-item__link">Главная страница</a>
              </li>
              <li class="nav-list-item">
                <a href="{% url 'article-list' %}" class="nav-list-item__link">Список статей</a>
              </li>
              <li class="nav-list-item">
                <a href="{% url 'faq-list' %}" class="nav-list-item__link">Вопросы и ответы</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="clear"></div>
      </div>
    </div>


{#    <div class="header-row-1">#}
{#      <div class="container_12">#}
{#        <div class="grid_3">#}
{#          <a href="{% url 'home' %}" title="" class="header-logotype">#}
{#            <img src="{{ STATIC_URL }}img/logotype.png" alt="Логотип">#}
{#          </a>#}
{#        </div>#}
{#        <div class="grid_6">#}
{#          <nav class="nav">#}
{#            <ul class="nav-list">#}
{#              <li class="nav-list-item">#}
{#                <a href="{% url 'home' %}" class="nav-list-item__link">Главная страница</a>#}
{#              </li>#}
{#              <li class="nav-list-item">#}
{#                <a href="{% url 'article-list' %}" class="nav-list-item__link">Список статей</a>#}
{#              </li>#}
{#              <li class="nav-list-item">#}
{#                <a href="{% url 'faq-list' %}" class="nav-list-item__link">Вопросы и ответы</a>#}
{#              </li>#}
{#            </ul>#}
{#          </nav>#}
{#        </div>#}
{#        <div class="grid_3">#}
{#          <span class="header-phone header-phone__number">{{ contacts.phone }}</span>#}
{#          <span class="header-phone header-phone__text">звонок бесплатный</span>#}
{#        </div>#}
{#        <div class="clear"></div>#}
{#      </div>#}
{#    </div>#}
  </header>
  <main class="article">
    <div class="container_12">
      <div class="grid_9">
      {% block main %}
      {% endblock %}
      </div>
      <div class="grid_3">
      {% block sidebar %}
      {% endblock %}
      </div>
      <div class="clear"></div>
    </div>
  </main>
  <div class="page-buffer"></div>
</div>
<footer class="footer">
  <div class="container_12">
    <div class="grid_3">
      <a href="#top" class="footer-logotype">
        <img src="{{ STATIC_URL }}img/logotype.png" alt="Рекласное агенство Арт-Лифт">
      </a>
    </div>
    <div class="grid_3 prefix_2 suffix_1">
      <ul class="footer-nav">
        <li class="footer-nav-item"><a href="{% url 'home' %}" class="footer-nav-item__link">Главная страница</a></li>
        <li class="footer-nav-item"><a href="{% url 'article-list' %}" class="footer-nav-item__link">Статьи</a></li>
        <li class="footer-nav-item"><a href="{% url 'faq-list' %}" class="footer-nav-item__link">Вопросы и ответы</a></li>
      </ul>
    </div>
    <div class="grid_3">
      <ul class="footer-address">
        <li>{{ contacts.address|linebreaksbr }}</li>
        <li>{{ contacts.phone }}</li>
        <li><a href="mailto:{{ contacts.email }}" class="footer-address__mail">{{ contacts.email }}</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</footer>
{% endblock %}